DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=2TQCVnmyRdnd1z8.root
DB_PASSWORD=6SX26TYECqVGPDNA
DB_NAME=auction_db
DB_SSL=true

# CLOUDINARY CONFIGURATION
CLOUDINARY_CLOUD_NAME=qbkd6qxg
CLOUDINARY_API_KEY=875713665717554
CLOUDINARY_API_SECRET=nvOfuIoVMsSFbn5fhWyXjsoM9fQ

# PUSHER CONFIGURATION
PUSHER_APP_ID=2196766
PUSHER_KEY=ea63537bae00c1ea1bea
PUSHER_SECRET=2e479667730db69a0702
PUSHER_CLUSTER=ap2
